<nav class="navbar fixed-top my-0 p-0 pl-3 pr-1 bg-blue-fx mat-elevation-z2">
  <span class="left">
    <span class="hamburger" (click)="clickHamburger()" #hamburger>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </span>
    <span>

      <a class="navbar-brand" [routerLink]="['/dashboard/0']" tabindex="0">
        <div class="container-logo">
          <img src="../../../../../assets/images/lubara.png" alt="Logo Lubara">
          <!-- <img class="letters" src="../../../../assets/img/logo_midala_white_letters.png" alt="MidalaNET letras">
                  <div class="container-img-logo">
                      <img class="logo" src="../../../../assets/img/logo_white_no_letters.png" alt="Logo Credit Suisse">
                 </div> -->
        </div>
      </a>
    </span>
  </span>
  <span class="right">
      <app-session-info></app-session-info>
    <img class="avatar pointer mr-1 ml-1" [routerLink]="['/users/profile']" [attr.src]="picture | safeBlob">
    <button mat-raised-button color="primary" class="navbar-toggler" type="button" (click)="logOut()"
      aria-label="Logout" matTooltip="Cerrar sesión">
      <span class="fas fa-sign-out-alt"></span>
    </button>
    <!-- <app-switch-language [showLogout]="true"></app-switch-language>-->

  </span>

</nav>

<side-bar [class.active]="sidebarActive" (clickOutput)="clickSideBarOutput($event)"></side-bar>
